# imports
importFrom(stats, dt)
importFrom(stats, pt)
importFrom(stats, qt)
importFrom(graphics, persp)
importFrom(graphics, plot)
importFrom(graphics, abline)
importFrom(graphics, contour)
importFrom(graphics, legend)
importFrom(graphics, lines)
importFrom(graphics, par)
importFrom(graphics, points)
importFrom(graphics, polygon)
importFrom(graphics, text)
importFrom(graphics, title)
importFrom(grDevices, adjustcolor)
importFrom(grDevices, contourLines)
importFrom(grDevices, trans3d)
import(nloptr)
# exports
export(mdes.ira1r1)
export(mdes.ira2c1)
export(mdes.ira2f1)
export(mdes.ira2r1)
export(mdes.cra2r2)
export(mdes.ira3r1)
export(mdes.cra3f2)
export(mdes.cra3r2)
export(mdes.cra3r3)
export(mdes.ira4r1)
export(mdes.cra4r2)
export(mdes.cra4f3)
export(mdes.cra4r3)
export(mdes.cra4r4)
export(mdes.ira1r1)
export(power.ira2c1)
export(power.ira2f1)
export(power.ira2r1)
export(power.cra2r2)
export(power.ira3r1)
export(power.cra3f2)
export(power.cra3r2)
export(power.cra3r3)
export(power.ira4r1)
export(power.cra4r2)
export(power.cra4f3)
export(power.cra4r3)
export(power.cra4r4)
export(mrss.ira1r1)
export(mrss.ira2c1)
export(mrss.ira2f1)
export(mrss.ira2r1)
export(mrss.cra2r2)
export(mrss.ira3r1)
export(mrss.cra3f2)
export(mrss.cra3r2)
export(mrss.cra3r3)
export(mrss.ira4r1)
export(mrss.cra4r2)
export(mrss.cra4f3)
export(mrss.cra4r3)
export(mrss.cra4r4)
export(optimal.ira1r1)
export(optimal.ira2c1)
export(optimal.ira2f1)
export(optimal.ira2r1)
export(optimal.cra2r2)
export(optimal.ira3r1)
export(optimal.cra3f2)
export(optimal.cra3r2)
export(optimal.cra3r3)
export(optimal.ira4r1)
export(optimal.cra4r2)
export(optimal.cra4f3)
export(optimal.cra4r3)
export(optimal.cra4r4)
export(plotPars)
export(plotT1T2)
export(optimal.to.mdes)
export(optimal.to.power)
export(mrss.to.mdes)
export(mrss.to.power)

